<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title%}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <nav>
            <div>
                <a href="{% url 'movies:movies' %}">Movies</a>
                <div>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'movies:favorites' %}">{{ user.username}}</a>
                            </li>
                            <li>
                                <form method='post' action="{% url 'movies:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'movies:login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'movies:signup' %}">SignUp</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div>
                <p>&copy; MMM {{ now|date:"Y" }}</p>
            </div>
        </footer>


        <script src="" async defer></script>
    </body>
</html>