{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div>
    <h2>Profile</h2>
    <div>
        <p>{{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
    </div>
    <div>
        <ul>
            {% for fav in favorites %}
                    <li><a href="{% url 'movies:movie_detail' fav.movie.pk %}">{{ fav.movie.title }}</a></li>
            {% empty %}
                <p>Not favorite a movie</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}